body {
  background-color: rgb(55, 0, 0);
  color: rgb(130, 255, 251);
  text-align: center;
  background-image: url(knot.jpg);
  width: auto;
  background-position: center;
}

h1 {
  background-color: rgb(85, 0, 0);
  border: 3px, #9d1616, solid;
  border-radius: 20px;
}

.section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(88, 14, 14);
  margin: 3px;
  border: 3px, rgb(130, 39, 39), solid;
  background-image: url(knot2-v2.jpg);
  background-position: center;
}

.info {
  margin: 8px;
}

#form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.submit {
  margin-top: 20px;
  background-color: #701313;
  color: rgb(0, 255, 187);
  border-radius: 30px;
  border: 3px, rgb(155, 0, 0), solid;
  padding: 5px;
}

.input-label {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #701313;
  padding: 8px;
  border-radius: 20px;
  border: 3px, #9d1616, solid;
}

.input {
  background-color: #41e2c4;
  color: #701313;
  height: 30px;
  font-size: larger;
  font-weight: 800;
  text-align: center;
}
